* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    width: 90vw;
    margin-left: 5vw;
}

/* header ----------------------------------- */

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 1.5% 0;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15%;
}

/* navbar ----------------------------------- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}

.navbar-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 55%;
}

.navbar-link {
    text-transform: uppercase;
}

.red-text {
    color: red;
}

.navbar-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 10%;
    padding: 5%;
    text-transform: uppercase;
}

/* main-section ------------------------------ */

.main-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.shoe {
    width: 20vw;
}

.shoe-img {
    width: 100%;
}

.shoe-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.shoe-criteria {
    text-transform: uppercase;
    opacity: 70%;
    font-size: 0.7rem;
}

.shoe-price {
    font-weight: bold;
}

.shoe-btn {
    border: none;
}

@media (max-width: 930px) {
    .navbar-link {
        display: none;
    }

    .main-section {
        grid-template-columns: repeat(3, 1fr);
    }

    .shoe {
        width: 27vw;
    }
}

@media (max-width: 700px) {
    .main-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .shoe {
        width: 40vw;
    }
}

@media (max-width: 590px) {
    .reebok-logo {
        width: 30vw;
    }
}
